
<div class="background" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https:/images.unsplash.com/photo-1604213410393-89f141bb96b8?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=su-san-lee-g3PyXO4A0yc-unsplash.jpg);">

<%= link_to "patients", patients_path, class: "btn btn-ghost" %>
<%= link_to "doctors", doctors_path, class: "btn btn-ghost" %>

<div class="container">
  <header class="header">PLA<i>NT<br> BAS</i>ED <br> CLIN</i>IC</header>

  <article class="subline">
    <p>Green Life is alternative medicine clinic <br>specialising in plant based medicine.</p>
  </article>
</div>
</div>
