<h1>Index of all the doctors</h1>


<ul>
  <% @doctors.each do |doctor| %>
    <li><%= link_to "#{doctor.first_name} #{doctor.last_name}", doctor_path(doctor) %></li>
  <% end %>
</ul>

<button><%= link_to "ADD DOCTOR", new_doctor_path, class: "my-button" %></button>
<button><%= link_to "HOMEPAGE", root_path, class: "my-button" %></button>
